* {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 144);
}

h1 {
    background-color: purple;
    color: white;
    text-align: center;
}

.food-image {
    width: 400px;
    height: auto;
}
